.newrow{
    width: 250px;
    height: 190px;

    margin: 0 auto 15px auto;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;

}
#ul li{
    list-style: none;
}
.card{
    width: 300px;
}
#name{
    font-weight: 800;
    font-size: 20px;
}